$width  : 220px;
$height  : 460px;
 $primary_color : #3084AC;
$border_color--hover : lighten($primary_color, 80);
$stroke : 2px;
$border: $stroke solid darken($primary_color,10);
$transition_duration:300ms;
$pipeline_width: $width+$stroke;
$pipeline_height: $height+$stroke;
$pipes : 4;

@function border-pipeline ($transition_duration, $pipe) {
    @return $transition_duration*$pipe;
}

@mixin border-animation($dimension, $easing ,$pipe ) 
{
    transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
    -web-kit-transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
}
  

////////////

 



$tiempo-fade:0.5s; 
@mixin desaparecer{
    border-color:transparent; 
    //transition se encarga del fade in/fade out por opacity y tambien de visibility(para evitar click)
    //https://www.taccgl.org/blog/css-transition-opacity-for-fade-effects.html
    transition: opacity $tiempo-fade ease-in-out , visibility $tiempo-fade;
    -webkit-transition: opacity $tiempo-fade ease-in-out , visibility $tiempo-fade;
    -moz-transition:opacity $tiempo-fade ease-in-out ,visibility $tiempo-fade;
    // transition-delay: 0.2s;
    opacity: 0;
    visibility : hidden;
}
 
 
.contenedor-btn-suma{
    margin-top:16px;
}
.card-placeholder:hover .card__btn-comprar{  
    visibility: visible;
    opacity:1;
}  

.card-placeholder .active{
    background-color: purple;
    color:red;
}

.card-placeholder .inactive{
    background-color: blue;
    color:#26c5f3;
}

.btncomprar-container{ //ordenar!!
    display:flex;
    justify-content: center;
   // margin-top: 150px;
   margin-top: 75px;
}

.card__btn-comprar:hover {
    -webkit-box-shadow: inset 0 0 11px hsla(0, 0%, 0%, 0.4);
    -moz-box-shadow: inset 0 0 11px hsla(0, 0%, 0%, 0.4);
    box-shadow: inset 0 0 11px  hsla(0, 0%, 0%, 0.4);

}

.card__btn-comprar:active { // efecto click
    background-color: #d65214;
    -webkit-box-shadow: inset 0px 0px 5px #923206;
    -moz-box-shadow: inset 0px 0px 5px #923206;
    box-shadow: inset 0px 0px 5px #923206;
    outline: none;
      
  }
 
.form-comprar{
    display:inline;
}

 
.form-favorito{
    display:inline-block;
    position: relative;
   // bottom: 48%;
   top: 20px;
    width: 25px;
   // pointer-events: none;
    left:85%;

     
}


@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
        box-shadow: 0 0 0 15px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }


.pulse:hover {
    animation: none;
  }
 
.carta-grande{
   box-shadow: 0 0 0 rgba(29, 29, 28, 0.4);
   animation: pulse 2s infinite;
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    -moz-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
     
    
}
 

.btn-fav{
    position: relative;
    bottom: 50%;
  //  left: 84%;
     
    color:black;
    background-color: transparent;
    @include desaparecer; 

    &__icon{
      //  color:hsl(0, 0%, 20%);
      color:rgb(247, 233, 207);
        font-size: 20px;
        padding-right: 10px; 
         
         
    }

       
}

.activar-favo{
    color:aquamarine;
}
.card-placeholder:hover  .btn-fav{  
    visibility:visible;
    opacity:1;
}  
 
 
.internal-clock{
    color:black;
}

.btn-fav__icon:hover{
    color:aquamarine;
}

.dibujar-linea{
    transform: scale(1)!important;
}

.card {
      
    width: 220px;
    max-width: 300px;
   // height: 400px;
   height: 450px;
    overflow: hidden;
    display: block;
    position: relative;
    isolation: isolate;
    color: #fcfdfe;
   
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2), 0 0 3px rgba(0, 0, 0, .4);  //def
   /* box-shadow: 0 01px gray,
    01px 0 gray,
    01px 02px gray,
    02px 01px gray,
    02px 03px gray,
    03px 02px gray,
    03px 04px gray,
    04px 03px gray,
    04px 05px gray,
    05px 04px gray,
    05px 06px gray,
    06px 05px gray,
    06px 07px gray,
    07px 06px gray,
    07px 08px gray,
    08px 07px gray;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: none; // parent de contenedor flex no tenga underline

    &__description{
        font-size:15px;
      //  min-height: 45px;
      min-height: 59px;
        transform: translateY(-20px);
    }
    &__marca{
       // margin-top: -5px;
       transform: translateY(-10px);
    }

     &__pepe  { // no puedo mezclar transition con transform, entonces utiliza el contenedor para cambiar pos mediante transform:transitionY(-n) (mas comodo)
        transform: translateY(-16px);
    }
    &__linea{
      //   position:sticky;
       
        transform:scale(0);
         transition:transform 700ms ease;
        transform-origin:left;
        height: 3px;
        background:#6ADE96;
        
     //   transform: translateY(-11px);

    }

     /*
    &:hover &__linea{
        transform:scale(1);
    } */
    &__btn-comprar{   
        position: relative;
        bottom: 4.6%;
     // left:37%;
      z-index: 1000;
         left:50%;
     // top: 180px;
        transform: translateX(-50%);
        /* text-align: center; */
        /* margin: auto; */
        /* margin: 0 auto; */
         

        padding:10px 30px 10px 30px;
        border-radius: 4px;
        border-color:transparent;
        color:white;
        background-color: $naranja-vitamina;
        //podria ser mixin para c/ boton
        //transition se encarga del fade in/fade out por opacity y tambien de visibility(para evitar click)
        //https://www.taccgl.org/blog/css-transition-opacity-for-fade-effects.html
         @include desaparecer;

    }
    
    .card-placeholder:hover .card__btn-comprar{  
        visibility: visible;
        opacity:1;
    }  

     
    &__stock{
       // margin-top: 5px;
       transform: translateY(-10px);
    }
    
    /*
    &:hover,&:focus { 
        -moz-transform: scale(1.06);
        -webkit-transform: scale(1.06);
        transform: scale(1.06);
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, .05), 0 3px 3px rgba(0, 0, 0, .01);
       
    }*/

    &__image {
        background-size: cover;
        height: 200px;
        background-color: currentcolor; // vector diferente a background de contenedor
   //     -webkit-clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);  //responsable de la rampa  
    //    clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);
        background-position: center;
        transition: all .2s;
    }
     /*
    &:hover &__image  {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 200px, 0 200px); 
        clip-path: polygon(0 0, 100% 0, 100% 200px, 0 200px);
        transform: scale(1.1) rotate(-2deg);
        transition-delay: 0s;
         
    }*/

    &__precio{
        align-self: flex-end;
     //   margin-top: 7px;
     //margin-bottom:2px;
     margin-right: 5px;
      transform: translateY(-17px);
    // margin-top: 5px;
    }
    &__content {
    //    height: 280px;
    height: 250px;
      padding-top: 10px!important;
      //  gap:2.5px;
      gap : 12px;
        display:flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        padding: 2.2em 1em 1em;
       // height: 230px;
        width: 100%;
        z-index: -1;
        transition: all .3s;


        background-image: repeating-linear-gradient(45deg, rgba(97,97,97,0.1) 0px, rgba(97,97,97,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(43,43,43),rgb(43,43,43));  //mas apto para tienda hardware
    }

  /*  &:hover &__content {
        padding-top: 4em;


    }*//*
      
    &-placeholder:nth-child(10n + 1) &__content { //rever
        background-image: linear-gradient(to top, #b429f9, #26c5f3);
    }

    &-placeholder:nth-child(10n + 2) &__content {
        background-image: linear-gradient(to top, #af1239, #cce269);    
    }

    &-placeholder:nth-child(10n + 3) &__content {
        background-image: linear-gradient(to top, #0b3866, #3ddab2);    
    }

    &-placeholder:nth-child(10n + 4) &__content {
        background-image: linear-gradient(to top, #f40752, #7c65a9);
    }

    &-placeholder:nth-child(10n + 5) &__content {
        background-image: linear-gradient(to top, #1c3b41, #69d449);    
    }

    &-placeholder:nth-child(10n + 6) &__content {
        background-image: linear-gradient(to top, #0a5df8, #ed2d53);    
    }

    &-placeholder:nth-child(10n + 7) &__content {
        background-image: linear-gradient(to top, #661069, #30d26e);    
    }

    &-placeholder:nth-child(10n + 8) &__content {
        background-image: linear-gradient(to top, #702b19, #cec360);    
    }

    &-placeholder:nth-child(10n + 9) &__content {
        background-image: linear-gradient(to top, #034a66, #ced11a) !important;    
    }
     
    &-placeholder:nth-child(10n + 10) &__content {
        background-image: linear-gradient(to top, #ec458d, #474ed7);    
    } 
     */
     
    @media (min-width: 1024px) {
        & {
            min-width: 280px;
        }
    }

    @media (min-width: 1280px) {
        & {
            min-width: 240px;
        }
    }

    @media (max-width:425px){
        &{
            min-width: 280px;
        }
    }

    @media (min-width: 426px) and (max-width: 768px) {
        & {
            min-width: 100%;
            height: 200px;
        }
        &__article {
            display: flex;
        }
        &__image {
            width: 40%;
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        }
        &__content { 
            top: 0;
            padding-left: 45%;
        }
    }

     
}
 
 
@media (prefers-reduced-motion: reduce){
    *, *::before, *::after{
        animation-duration: 0.01ms!important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}